/* styles.css */

/* Target the elements with the class "button" and set their appearance */
.button {
  background-color: white; /* Replace #ff5733 with your desired background color */
  color: #FF0000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; /* Removes underline from the link */
  font-size: 25px;
}
.scroll-buttons {
  position: fixed;
  top: 20px; /* Adjust this value to set the vertical position from the top */
  left: 50%;
  transform: translateX(-50%);
}

body {
  font-size: 250px; /* Replace with your desired font size */
}
